/* Tags */
body {
	background-color: rgb(188, 172, 201); 
}
/* Classes */
.title {
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: rgb(153, 102, 51);
}
.logo {
	position: relative;
	top: 0%;
	
	}

.topnavigation {
	z-index: 0;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	width: 100%
	border-width: 100%;
	border: 3px solid black;
	background-color: rgb(1, 122, 132);
	letter-spacing: 3px;
	margin: auto;
	padding: 5px;
	position: absolute;
	height: 5%;
	width: 100%;
	top: 46%;
	
}


.leftnav {
	z-index: 1;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(188, 172, 201);
	color: rgb(1, 122, 132);
	width: 12%;
    	height: 65%;
	position: absolute;
	float: left;
	top: 53%;
	}

#content {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	z-index: 0;
	position: absolute;
	top: 53%;
	height: 95%;
	left: 2%;
	
}
.content {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	z-index: 0;
	position: absolute;
	top: 52.4%;
	right: 0%;
	width: 87.6%;
	height: 95%;
	border: 2px solid black;
	
}
.elevationProfile {
	z-index: 1;
	position: absolute;
	right: 15%;
	width: 100%;
	height: 100%;
}
p {
	text-align: justify;
	width: 35%;
	}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
.bottomnavigation {
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-width: 100%;
	border: 3px solid black;
	background-color: rgb(1, 122, 132);
	letter-spacing: 3px;
	margin: auto;
	padding: 5px;
	height: 5%;
	width: 100%;
	position: absolute;
	top: 3400px;
 }
  .bottomcredits {
  	position: absolute;
	top: 3480px;
	color: black;
	letter-spacing: 4px;
	text-align: center;
  }
	
/* Id */
